<li class="list-group-item condensed js-field">
  <div class="form-group">
    <label class="control-label col-md-1" for="{{uid}}-name">Name</label>
    <div class="col-md-3">
      <input type="text" id="{{uid}}-name" class="form-control js-field-name" value="{{name}}" {{disabled}} />
    </div>

    <label class="control-label col-md-1" for="{{uid}}-prompt">Prompt</label>
    <div class="col-md-4">
      <input type="text" id="{{uid}}-prompt" class="form-control js-field-prompt" value="{{prompt}}" />
    </div>

    <label class="control-label col-md-1" for="{{uid}}-type">Type</label>
    <div class="col-md-2">
      <select id="{{uid}}-type" class="form-control js-field-type" {{disabled}}>
        <option value=""></option>
        {{#each types}}
          <option value="{{value}}" {{#if selected}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</li>
