{{#if disabled}}
  <div class="alert alert-info">
    {{#if submitted}}
      This report has already been submitted and may no longer be changed
    {{else}}
      You do not have access to edit this report
    {{/if}}
  </div>
{{/if}}
{{! TODO - offer district officers the ability to unsubmit a report }}

<form>
  <div><fieldset {{#if disabled}}disabled{{/if}}>
    <h2>Basic Information</h2>

    <div class="form-group">
      <label for="report-month">Report Month</label>

      <div id="report-month" class="input-group date js-report-month">
        <input type="text" class="form-control" value="{{dateFor}}" />
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-th"></i>
        </span>
      </div>
      <p class="help-block">This should be the month the report is about (usually last month)</p>
    </div>

    <div class="form-group">
      <label for="service-hours">Service Hours</label>
      <input type="number" step="any" id="service-hours" class="form-control js-basic-property" data-property-name="serviceHours" value="{{serviceHours}}" />
    </div>

    <div class="form-group">
      <label for="interclubs">Interclubs</label>
      <input type="number" step="any" id="interclubs" class="form-control js-basic-property" data-property-name="interclubs" value="{{interclubs}}" />
    </div>

    <div class="form-group">
      <label for="kfam-events">K-Fam Events</label>
      <input type="number" step="any" id="kfam-events" class="form-control js-basic-property" data-property-name="kfamEvents" value="{{kfamEvents}}" />
    </div>
  </fieldset></div>

  <div class="js-sections"></div>

  {{#unless disabled}}
    <hr>

    <button type="button" class="btn btn-primary js-submit-report">Submit</button>
    <button type="button" class="btn btn-default js-save-report">Save Progress</button>
  {{else}}
    {{#if __editable}}
      <hr>

      <button type="button" class="btn btn-info js-reopen-report">Reopen Report</button>
    {{/if}}
  {{/unless}}

</form>
