<h2>Reports for {{entityName}}</h2>
<div class="btn-group-vertical">
  {{#each years}}
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{year}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {{#each months}}
          <li><a href="#reports/{{_id}}">{{date dateFor "MMMM"}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>

<div class="btn-group-vertical">
{{#if activeReports}}
  {{#each activeReports}}
    <a href="#reports/{{_id}}" class="btn btn-info">Edit {{date dateFor "MMMM YYYY"}} Report</a>
  {{/each}}
{{else}}
  {{#if canCreate}}
    {{#each forms}}
      <a href="#{{../urlBase}}/{{../idEntity}}/report/new/{{_id}}" class="btn btn-default">Start New {{name}}</a>
    {{/each}}
  {{/if}}
{{/if}}
</div>
